@import "../../common.module.scss";

.root {
  @extend .global-font;
  position: absolute;
  top: 75px;
  right: 210px;
  left: 245px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px;

  .heading {
    @extend .global-heading;
  }
  .row {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    & > div {
      width: 80%;
    }
  }
}
