@import "../../common.module.scss";

.root {
  border-radius: 16px;
  height: 258px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #f7f9fb;
  border-radius: 16px;
  @extend .global-font;

  .heading {
    margin-bottom: 16px;
    @extend .global-heading;
  }
}
