.root{
    max-width: 212px;
    padding: 20px 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid #1C1C1C1A;
}
.dark{
    border-right: 1px solid #333333;
}